<div class="container-fluid paymentContainer h-100">
    <table class="table table-borderless shadow-lg paymentContainer_history">
        <caption>Payment History</caption>
        <thead>
            <tr>
                <th>Payment Details</th>
                <th>Date Of Payment</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <table class="table table-borderless shadow-lg paymentContainer_pending">
        <caption>Pending Payments</caption>
        <thead>
            <tr>
                <th>Payment Details</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <div class="paymentContainer_handlers">
        <button class="paymentContainer_button paymentContainer_cancel">Cancel Payment</button>
        <button class="paymentContainer_button paymentContainer_print">Print Reciept</button>
    </div>
</div>