<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../Partials/head.ejs") %>
        <link rel="stylesheet" href="/css/EmployeePage/EmployeePage.css">
        <link rel="stylesheet" href="/css/EmployeePage/info.css">
        <link rel="stylesheet" href="/css/EmployeePage/new.css">
        <link rel="stylesheet" href="/css/ContainerNav.css">
</head>

<body>
    <div class="wrapper">
        <%- include("../Partials/mainnav.ejs") %>
            <div class="mainContainer h-100">
                <nav class="containerNav">
                    <button class="containerNav_link containerNav_search search">
                        <img class="containerNav_searchIcon" src="/Images/ContainerNavIcons/search_35px.png"
                            alt=""></button>
                    <input type="tel" class="containerNav_searchPhone" name="searchPhone" placeholder="Phone Number">
                    <button class="containerNav_link containerNav_info">
                        <img class="containerNav_linkIcon" src="/Images/ContainerNavIcons/general_information_25px.png"
                            alt="">Information</button>
                    <button class="containerNav_link containerNav_payment"><img class="containerNav_linkIcon"
                            src="/Images/ContainerNavIcons/payment_20px.png" alt=""> Payment</button>
                    <div class="containerNav_rightNav">
                        <button class="containerNav_link containerNav_new"><img class="containerNav_linkIcon"
                                src="/Images/ContainerNavIcons/add_25px.png" alt="">New Employee</button>
                    </div>
                </nav>
                <main class="container-fluid mainContainer_subContainer p-4">
                    <%- include('../Partials/Flash/successflash.ejs') %> 
                </main>
            </div>
    </div>
    <script src="/js/containernav.js"></script>
    <script src="/js/management/EmployeePage.js"></script>
</body>

</html>