<nav class="containerNav">
    <button class="containerNav_link containerNav_search search">
        <img class="containerNav_searchIcon" src="/Images/ContainerNavIcons/search_35px.png"
            alt=""></button>
    <input type="tel" class="containerNav_searchPhone" name="searchPhone" placeholder="Phone Number">
</nav>
<main class="patientList">
    
</main>