<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h1 class = "title">AYU PRIMARY HOSPITAL P.L.C</h1>
        <p>TIN: 0001823298</p>
        <p>A.A S/C YEKA W.13 H.NO NEW</p>
        <p>AROUND YEKA ABADO</p>
        <p>TEL 0930071329/0911895942</p>
    </header>
    <h2>Daily Income Report</h2>
    <table>
        <thead>
            <tr>
                <th>Test1</th>
                <th>Test2</th>
                <th>Test3</th>
            </tr>
        </thead>
    </table>
</body>

</html>