<form class="container col-8" action="/doctor/patientPage/newDiagnosis" method="post">
    <div class="form-group mt-3">
        <label for="newDiagnosis">
            <h4>New Diagnosis</h4>
        </label>
        <textarea class="form-control border-0 shadow_roundedCorner" id="newDiagnosis" rows="15"
            placeholder="Write New Diagnosis Here" name="diagnosis[content]" required></textarea>
    </div>
    <div class="d-flex justify-content-end mt-3 btnSaveDiagnosis">
        <button type="submit" value="Add Diagnosis" class="btn btn-primary btn-sm">Save Diagnosis</button>
    </div>
</form>