<div class="container">
    <form action="/doctor/patientPage/<%=id%>/newlabRequest" class="row" method="post">

        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg_LabRequest-info text-light border-0">
                <h4>RADIOLOGY</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="ECG">ECG</label>
                <input class="form-check-input" type="checkbox" value="true" id="ECG" name="labRequest[ECG]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="X.Ray">X.Ray</label>
                <input class="form-check-input" type="checkbox" value="true" id="X.Ray" name="labRequest[X.Ray]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Ultra Sound">Ultra Sound</label>
                <input class="form-check-input" type="checkbox" value="true" id="Ultra Sound"
                    name="labRequest[Ultra Sound]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Echocardiography">Echocardiography</label>
                <input class="form-check-input" type="checkbox" value="true" id="Echocardiography"
                    name="labRequest[Echocardiography]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Barium Studies">Barium Studies</label>
                <input class="form-check-input" type="checkbox" value="true" id="Barium Studies"
                    name="labRequest[Barium Studies]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="IVP">IVP</label>
                <input class="form-check-input" type="checkbox" value="true" id="IVP" name="labRequest[IVP]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="HSG">HSG</label>
                <input class="form-check-input" type="checkbox" value="true" id="HSG" name="labRequest[HSG]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Pathology">Pathology</label>
                <input class="form-check-input" type="checkbox" value="true" id="Pathology"
                    name="labRequest[Pathology]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="FNAC /Biopsy">FNAC /Biopsy</label>
                <input class="form-check-input" type="checkbox" value="true" id="FNAC /Biopsy"
                    name="labRequest[FNAC /Biopsy]">
            </li>

        </ul>
        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg_LabRequest-info text-light border-0">
                <h4>URNIANALSIS</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Apperance">Apperance</label>
                <input class="form-check-input" type="checkbox" value="true" id="Apperance"
                    name="labRequest[Apperance]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="PH">PH</label>
                <input class="form-check-input" type="checkbox" value="true" id="PH" name="labRequest[PH]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="SG">SG</label>
                <input class="form-check-input" type="checkbox" value="true" id="SG" name="labRequest[SG]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Protein">Protein</label>
                <input class="form-check-input" type="checkbox" value="true" id="Protein" name="labRequest[Protein]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Sugar">Sugar</label>
                <input class="form-check-input" type="checkbox" value="true" id="Sugar" name="labRequest[Sugar]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Ketone">Ketone</label>
                <input class="form-check-input" type="checkbox" value="true" id="Ketone" name="labRequest[Ketone]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Nitrite">Nitrite</label>
                <input class="form-check-input" type="checkbox" value="true" id="Nitrite" name="labRequest[Nitrite]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Bilirubin">Bilirubin</label>
                <input class="form-check-input" type="checkbox" value="true" id="Bilirubin"
                    name="labRequest[Bilirubin]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Urobilinogen">Urobilinogen</label>
                <input class="form-check-input" type="checkbox" value="true" id="Urobilinogen"
                    name="labRequest[Urobilinogen]">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg_LabRequest-info text-light border-0">
                <h4>MICROSCOPY</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="EPHT.CELL">EPHT.CELL</label>
                <input class="form-check-input" type="checkbox" value="true" id="EPHT.CELL"
                    name="labRequest[EPHT.CELL]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="WBC">WBC</label>
                <input class="form-check-input" type="checkbox" value="true" id="WBC" name="labRequest[WBC]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="RBC">RBC</label>
                <input class="form-check-input" type="checkbox" value="true" id="RBC" name="labRequest[RBC]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="CAST">CAST</label>
                <input class="form-check-input" type="checkbox" value="true" id="CAST" name="labRequest[CAST]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Urine-HCG">Urine-HCG</label>
                <input class="form-check-input" type="checkbox" value="true" id="Urine-HCG"
                    name="labRequest[Urine-HCG]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Occult Blood">Occult Blood</label>
                <input class="form-check-input" type="checkbox" value="true" id="Occult Blood"
                    name="labRequest[Occult Blood]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="H.pylori AG">H.pylori AG</label>
                <input class="form-check-input" type="checkbox" value="true" id="H.pylori AG"
                    name="labRequest[H.pylori AG]">
            </li>
        </ul>

        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg_LabRequest-info text-light border-0">
                <h4>SEROLOGY</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="VDRL/RPR">VDRL/RPR</label>
                <input class="form-check-input" type="checkbox" value="true" id="VDRL/RPR" name="labRequest[VDRL/RPR]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="HBsAG">HBsAG</label>
                <input class="form-check-input" type="checkbox" value="true" id="HBsAG" name="labRequest[HBsAG]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="HCVAB">HCVAB</label>
                <input class="form-check-input" type="checkbox" value="true" id="HCVAB" name="labRequest[HCVAB]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="RVI">RVI</label>
                <input class="form-check-input" type="checkbox" value="true" id="RVI" name="labRequest[RVI]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="H.PYLOR(ab)">H.PYLOR(ab)</label>
                <input class="form-check-input" type="checkbox" value="true" id="H.PYLOR(ab)"
                    name="labRequest[H.PYLOR(ab)]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="ASO titer">ASO titer</label>
                <input class="form-check-input" type="checkbox" value="true" id="ASO titer"
                    name="labRequest[ASO titer]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Serum-HCG">Serum-HCG</label>
                <input class="form-check-input" type="checkbox" value="true" id="Serum-HCG"
                    name="labRequest[Serum-HCG]">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg_LabRequest-info text-light border-0">
                <h4>BACTERIOLOGY</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="SPECIMEN">SPECIMEN</label>
                <input class="form-check-input" type="checkbox" value="true" id="SPECIMEN" name="labRequest[SPECIMEN]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="G.STAIN">G.STAIN</label>
                <input class="form-check-input" type="checkbox" value="true" id="G.STAIN" name="labRequest[G.STAIN]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="AFB">AFB</label>
                <input class="form-check-input" type="checkbox" value="true" id="AFB" name="labRequest[AFB]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="WET FILM">WET FILM</label>
                <input class="form-check-input" type="checkbox" value="true" id="WET FILM" name="labRequest[WET FILM]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Cell-Count">Cell-Count</label>
                <input class="form-check-input" type="checkbox" value="true" id="Cell-Count"
                    name="labRequest[Cell-Count]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Diff">Diff</label>
                <input class="form-check-input" type="checkbox" value="true" id="Diff" name="labRequest[Diff]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Culture">Culture</label>
                <input class="form-check-input" type="checkbox" value="true" id="Culture" name="labRequest[Culture]">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg_LabRequest-info text-light border-0">
                <h4>FERBRILE AGGLUTITATION TEST</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="WAIDAL">WAIDAL</label>
                <input class="form-check-input" type="checkbox" value="true" id="WAIDAL" name="labRequest[WAIDAL]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="O">O</label>
                <input class="form-check-input" type="checkbox" value="true" id="O" name="labRequest[O]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="H">H</label>
                <input class="form-check-input" type="checkbox" value="true" id="H" name="labRequest[H]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="WEIL FELIX">WEIL FELIX</label>
                <input class="form-check-input" type="checkbox" value="true" id="WEIL FELIX"
                    name="labRequest[WEIL FELIX]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="OX19">OX19</label>
                <input class="form-check-input" type="checkbox" value="true" id="OX19" name="labRequest[OX19]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BR.AB">BR.AB</label>
                <input class="form-check-input" type="checkbox" value="true" id="BR.AB" name="labRequest[BR.AB]">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg_LabRequest-info text-light border-0">
                <h4>STOOL TEST</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Consistency">Consistency</label>
                <input class="form-check-input" type="checkbox" value="true" id="Consistency"
                    name="labRequest[Consistency]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Direct">Direct</label>
                <input class="form-check-input" type="checkbox" value="true" id="Direct" name="labRequest[Direct]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Concentrated">Concentrated</label>
                <input class="form-check-input" type="checkbox" value="true" id="Concentrated"
                    name="labRequest[Concentrated]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Ova/Parasite">Ova/Parasite</label>
                <input class="form-check-input" type="checkbox" value="true" id="Ova/Parasite"
                    name="labRequest[Ova/Parasite]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Puss Cell">Puss Cell</label>
                <input class="form-check-input" type="checkbox" value="true" id="Puss Cell"
                    name="labRequest[Puss Cell]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Bacteria">Bacteria</label>
                <input class="form-check-input" type="checkbox" value="true" id="Bacteria" name="labRequest[Bacteria]">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg_LabRequest-info text-light border-0">
                <h4>HEMATOLOGY</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BF">BF</label>
                <input class="form-check-input" type="checkbox" value="true" id="BF" name="labRequest[BF]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="CBC">CBC</label>
                <input class="form-check-input" type="checkbox" value="true" id="CBC" name="labRequest[CBC]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="ERS">ERS</label>
                <input class="form-check-input" type="checkbox" value="true" id="ERS" name="labRequest[ERS]">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BG&HR">BG&HR</label>
                <input class="form-check-input" type="checkbox" value="true" id="BG&HR" name="labRequest[BG&HR]">
            </li>
        </ul>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary btn-sm">Save Appointment</button>
        </div>
    </form>

</div>
</div>