<div class="container">
    <div class="row">
        <ul class="list-group col-3 mb-3">
            <li class="list-group-item text-center">
                <h4>HEMATOLOGY</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BF">BF</label>
                <input class="form-check-input" type="checkbox" value="" id="BF">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="CBC">CBC</label>
                <input class="form-check-input" type="checkbox" value="" id="CBC">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="ERS">ERS</label>
                <input class="form-check-input" type="checkbox" value="" id="ERS">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BG&HR">BG & HR</label>
                <input class="form-check-input" type="checkbox" value="" id="BG&HR">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3">
            <li class="list-group-item text-center">
                <h4>SEROLOGY</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BF">BF</label>
                <input class="form-check-input" type="checkbox" value="" id="BF">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="CBC">CBC</label>
                <input class="form-check-input" type="checkbox" value="" id="CBC">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="ERS">ERS</label>
                <input class="form-check-input" type="checkbox" value="" id="ERS">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BG&HR">BG & HR</label>
                <input class="form-check-input" type="checkbox" value="" id="BG&HR">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3">
            <li class="list-group-item text-center">
                <h4>STOOL TEST</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BF">BF</label>
                <input class="form-check-input" type="checkbox" value="" id="BF">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="CBC">CBC</label>
                <input class="form-check-input" type="checkbox" value="" id="CBC">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="ERS">ERS</label>
                <input class="form-check-input" type="checkbox" value="" id="ERS">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BG&HR">BG & HR</label>
                <input class="form-check-input" type="checkbox" value="" id="BG&HR">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3">
            <li class="list-group-item text-center">
                <h4>URNIANALSIS</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BF">BF</label>
                <input class="form-check-input" type="checkbox" value="" id="BF">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="CBC">CBC</label>
                <input class="form-check-input" type="checkbox" value="" id="CBC">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="ERS">ERS</label>
                <input class="form-check-input" type="checkbox" value="" id="ERS">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BG&HR">BG & HR</label>
                <input class="form-check-input" type="checkbox" value="" id="BG&HR">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3">
            <li class="list-group-item text-center">
                <h4>MICROSCOPY</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BF">BF</label>
                <input class="form-check-input" type="checkbox" value="" id="BF">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="CBC">CBC</label>
                <input class="form-check-input" type="checkbox" value="" id="CBC">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="ERS">ERS</label>
                <input class="form-check-input" type="checkbox" value="" id="ERS">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BG&HR">BG & HR</label>
                <input class="form-check-input" type="checkbox" value="" id="BG&HR">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3">
            <li class="list-group-item text-center">
                <h4>BACTERIOLOGY</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BF">BF</label>
                <input class="form-check-input" type="checkbox" value="" id="BF">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="CBC">CBC</label>
                <input class="form-check-input" type="checkbox" value="" id="CBC">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="ERS">ERS</label>
                <input class="form-check-input" type="checkbox" value="" id="ERS">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BG&HR">BG & HR</label>
                <input class="form-check-input" type="checkbox" value="" id="BG&HR">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3">
            <li class="list-group-item text-center">
                <h4>RADIOLOGY</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BF">BF</label>
                <input class="form-check-input" type="checkbox" value="" id="BF">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="CBC">CBC</label>
                <input class="form-check-input" type="checkbox" value="" id="CBC">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="ERS">ERS</label>
                <input class="form-check-input" type="checkbox" value="" id="ERS">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BG&HR">BG & HR</label>
                <input class="form-check-input" type="checkbox" value="" id="BG&HR">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3">
            <li class="list-group-item text-center">
                <h4>FERBRILE AGGLUTITATION TEST</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BF">BF</label>
                <input class="form-check-input" type="checkbox" value="" id="BF">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="CBC">CBC</label>
                <input class="form-check-input" type="checkbox" value="" id="CBC">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="ERS">ERS</label>
                <input class="form-check-input" type="checkbox" value="" id="ERS">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BG&HR">BG & HR</label>
                <input class="form-check-input" type="checkbox" value="" id="BG&HR">
            </li>
        </ul>
        <div class="col-5"></div>
        <div class="col-5"></div>
        <div class="col" style="padding-left: 75px;">
            <button type="button" class="btn btn-primary btn-sm">Save Appointment</button>
        </div>
    </div>

</div>