<div class="container">
    <div class="row">

        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg-light border-0">
                <h4>HEMATOLOGY</h4>
            </li>
            <!-- Choose one ui and make them all the same -->
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BF">BF</label>
                <input class="form-check-input" type="checkbox" value="" id="BF">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="CBC">CBC</label>
                <input class="form-check-input" type="checkbox" value="" id="CBC">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="ERS">ERS</label>
                <input class="form-check-input" type="checkbox" value="" id="ERS">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BG&HR">BG & HR</label>
                <input class="form-check-input" type="checkbox" value="" id="BG&HR">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg-info text-light border-0">
                <h4>SEROLOGY</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BF">BF</label>
                <input class="form-check-input" type="checkbox" value="" id="BF">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="CBC">CBC</label>
                <input class="form-check-input" type="checkbox" value="" id="CBC">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="ERS">ERS</label>
                <input class="form-check-input" type="checkbox" value="" id="ERS">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BG&HR">BG & HR</label>
                <input class="form-check-input" type="checkbox" value="" id="BG&HR">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg-secondary text-light border-0">
                <h4>STOOL TEST</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BF">BF</label>
                <input class="form-check-input" type="checkbox" value="" id="BF">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="CBC">CBC</label>
                <input class="form-check-input" type="checkbox" value="" id="CBC">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="ERS">ERS</label>
                <input class="form-check-input" type="checkbox" value="" id="ERS">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BG&HR">BG & HR</label>
                <input class="form-check-input" type="checkbox" value="" id="BG&HR">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg-secondary text-light border-0">
                <h4>URNIANALSIS</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BF">BF</label>
                <input class="form-check-input" type="checkbox" value="" id="BF">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="CBC">CBC</label>
                <input class="form-check-input" type="checkbox" value="" id="CBC">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="ERS">ERS</label>
                <input class="form-check-input" type="checkbox" value="" id="ERS">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BG&HR">BG & HR</label>
                <input class="form-check-input" type="checkbox" value="" id="BG&HR">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg-secondary text-light border-0">
                <h4>MICROSCOPY</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BF">BF</label>
                <input class="form-check-input" type="checkbox" value="" id="BF">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="CBC">CBC</label>
                <input class="form-check-input" type="checkbox" value="" id="CBC">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="ERS">ERS</label>
                <input class="form-check-input" type="checkbox" value="" id="ERS">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BG&HR">BG & HR</label>
                <input class="form-check-input" type="checkbox" value="" id="BG&HR">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg-secondary text-light border-0">
                <h4>BACTERIOLOGY</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BF">BF</label>
                <input class="form-check-input" type="checkbox" value="" id="BF">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="CBC">CBC</label>
                <input class="form-check-input" type="checkbox" value="" id="CBC">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="ERS">ERS</label>
                <input class="form-check-input" type="checkbox" value="" id="ERS">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BG&HR">BG & HR</label>
                <input class="form-check-input" type="checkbox" value="" id="BG&HR">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg-secondary text-light border-0">
                <h4>RADIOLOGY</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BF">BF</label>
                <input class="form-check-input" type="checkbox" value="" id="BF">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="CBC">CBC</label>
                <input class="form-check-input" type="checkbox" value="" id="CBC">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="ERS">ERS</label>
                <input class="form-check-input" type="checkbox" value="" id="ERS">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BG&HR">BG & HR</label>
                <input class="form-check-input" type="checkbox" value="" id="BG&HR">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg-secondary text-light border-0">
                <h4>FERBRILE AGGLUTITATION TEST</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BF">BF</label>
                <input class="form-check-input" type="checkbox" value="" id="BF">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="CBC">CBC</label>
                <input class="form-check-input" type="checkbox" value="" id="CBC">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="ERS">ERS</label>
                <input class="form-check-input" type="checkbox" value="" id="ERS">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BG&HR">BG & HR</label>
                <input class="form-check-input" type="checkbox" value="" id="BG&HR">
            </li>
        </ul>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary btn-sm">Save Appointment</button>
        </div>

    </div>
</div>