<div class="container">
    <div class="row">

        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg_LabRequest-info text-light border-0">
                <h4>HEMATOLOGY</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BF">BF</label>
                <input class="form-check-input" type="checkbox" value="" id="BF">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="CBC">CBC</label>
                <input class="form-check-input" type="checkbox" value="" id="CBC">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="ERS">ERS</label>
                <input class="form-check-input" type="checkbox" value="" id="ERS">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BG&HR">BG & HR</label>
                <input class="form-check-input" type="checkbox" value="" id="BG&HR">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg_LabRequest-info text-light border-0">
                <h4>SEROLOGY</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="VDRL/RPR">VDRL/RPR</label>
                <input class="form-check-input" type="checkbox" value="" id="VDRL/RPR">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="HBsAG">HBsAG</label>
                <input class="form-check-input" type="checkbox" value="" id="HBsAG">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="HCVAB">HCVAB</label>
                <input class="form-check-input" type="checkbox" value="" id="HCVAB">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="RVI">RVI</label>
                <input class="form-check-input" type="checkbox" value="" id="RVI">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="H.PYLORI(ab)">H.PYLORI(ab)</label>
                <input class="form-check-input" type="checkbox" value="" id="H.PYLORI(ab)">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="ASO titer">ASO titer</label>
                <input class="form-check-input" type="checkbox" value="" id="ASO titer">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Serum-HCG">Serum-HCG</label>
                <input class="form-check-input" type="checkbox" value="" id="Serum-HCG">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg_LabRequest-info text-light border-0">
                <h4>STOOL TEST</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Consistency">Consistency</label>
                <input class="form-check-input" type="checkbox" value="" id="Consistency">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Direct">Direct</label>
                <input class="form-check-input" type="checkbox" value="" id="Direct">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Concentrated">Concentrated</label>
                <input class="form-check-input" type="checkbox" value="" id="Concentrated">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Ova /Parasite">Ova /Parasite</label>
                <input class="form-check-input" type="checkbox" value="" id="Ova /Parasite">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Puss Cell">Puss Cell</label>
                <input class="form-check-input" type="checkbox" value="" id="Puss Cell">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Ova /Parasite">Ova /Parasite</label>
                <input class="form-check-input" type="checkbox" value="" id="Ova /Parasite">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg_LabRequest-info text-light border-0">
                <h4>URNIANALSIS</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BF">BF</label>
                <input class="form-check-input" type="checkbox" value="" id="BF">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="CBC">CBC</label>
                <input class="form-check-input" type="checkbox" value="" id="CBC">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="ERS">ERS</label>
                <input class="form-check-input" type="checkbox" value="" id="ERS">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BG&HR">BG & HR</label>
                <input class="form-check-input" type="checkbox" value="" id="BG&HR">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg_LabRequest-info text-light border-0">
                <h4>MICROSCOPY</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BF">BF</label>
                <input class="form-check-input" type="checkbox" value="" id="BF">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="CBC">CBC</label>
                <input class="form-check-input" type="checkbox" value="" id="CBC">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="ERS">ERS</label>
                <input class="form-check-input" type="checkbox" value="" id="ERS">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BG&HR">BG & HR</label>
                <input class="form-check-input" type="checkbox" value="" id="BG&HR">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg_LabRequest-info text-light border-0">
                <h4>BACTERIOLOGY</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BF">BF</label>
                <input class="form-check-input" type="checkbox" value="" id="BF">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="CBC">CBC</label>
                <input class="form-check-input" type="checkbox" value="" id="CBC">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="ERS">ERS</label>
                <input class="form-check-input" type="checkbox" value="" id="ERS">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BG&HR">BG & HR</label>
                <input class="form-check-input" type="checkbox" value="" id="BG&HR">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg_LabRequest-info text-light border-0">
                <h4>RADIOLOGY</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BF">BF</label>
                <input class="form-check-input" type="checkbox" value="" id="BF">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="CBC">CBC</label>
                <input class="form-check-input" type="checkbox" value="" id="CBC">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="ERS">ERS</label>
                <input class="form-check-input" type="checkbox" value="" id="ERS">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BG&HR">BG & HR</label>
                <input class="form-check-input" type="checkbox" value="" id="BG&HR">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg_LabRequest-info text-light border-0">
                <h4>FERBRILE AGGLUTITATION TEST</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BF">BF</label>
                <input class="form-check-input" type="checkbox" value="" id="BF">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="CBC">CBC</label>
                <input class="form-check-input" type="checkbox" value="" id="CBC">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="ERS">ERS</label>
                <input class="form-check-input" type="checkbox" value="" id="ERS">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BG&HR">BG & HR</label>
                <input class="form-check-input" type="checkbox" value="" id="BG&HR">
            </li>
        </ul>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary btn-sm">Save Appointment</button>
        </div>

    </div>
</div>