<div class="container">
    <form action="" class="row" method="post">

        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg_LabRequest-info text-light border-0">
                <h4>RADIOLOGY</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="ECG">ECG</label>
                <input class="form-check-input" type="checkbox" value="ECG" id="ECG">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="X.Ray">X.Ray</label>
                <input class="form-check-input" type="checkbox" value="X.Ray" id="X.Ray">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Ultra Sound">Ultra Sound</label>
                <input class="form-check-input" type="checkbox" value="Ultra Sound" id="Ultra Sound">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Echocardiography">Echocardiography</label>
                <input class="form-check-input" type="checkbox" value="Echocardiography" id="Echocardiography">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Barium Studies">Barium Studies</label>
                <input class="form-check-input" type="checkbox" value="Barium Studies" id="Barium Studies">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="IVP">IVP</label>
                <input class="form-check-input" type="checkbox" value="IVP" id="IVP">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="HSG">HSG</label>
                <input class="form-check-input" type="checkbox" value="HSG" id="HSG">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Pathology">Pathology</label>
                <input class="form-check-input" type="checkbox" value="Pathology" id="Pathology">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="FNAC /Biopsy">FNAC /Biopsy</label>
                <input class="form-check-input" type="checkbox" value="FNAC /Biopsy" id="FNAC /Biopsy">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg_LabRequest-info text-light border-0">
                <h4>URNIANALSIS</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Apperance">Apperance</label>
                <input class="form-check-input" type="checkbox" value="Apperance" id="Apperance">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="PH">PH</label>
                <input class="form-check-input" type="checkbox" value="PH" id="PH">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="SG">SG</label>
                <input class="form-check-input" type="checkbox" value="SG" id="SG">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Protein">Protein</label>
                <input class="form-check-input" type="checkbox" value="Protien" id="Protien">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Sugar">Sugar</label>
                <input class="form-check-input" type="checkbox" value="Sugar" id="Sugar">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Ketone">Ketone</label>
                <input class="form-check-input" type="checkbox" value="Ketone" id="Ketone">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Nitrite">Nitrite</label>
                <input class="form-check-input" type="checkbox" value="Nitrite" id="Nitrite">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Bilirubin">Bilirubin</label>
                <input class="form-check-input" type="checkbox" value="Bilirubin" id="Bilirubin">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Urobilinogen">Urobilinogen</label>
                <input class="form-check-input" type="checkbox" value="Urobilinogen" id="Urobilinogen">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg_LabRequest-info text-light border-0">
                <h4>MICROSCOPY</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="EPHT. CELL">EPHT. CELL</label>
                <input class="form-check-input" type="checkbox" value="EPHT. CELL" id="EPHT. CELL">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="WBC">WBC</label>
                <input class="form-check-input" type="checkbox" value="WBC" id="WBC">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="RBC">RBC</label>
                <input class="form-check-input" type="checkbox" value="RBC" id="RBC">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="CAST">CAST</label>
                <input class="form-check-input" type="checkbox" value="CAST" id="CAST">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Urine-HCG">Urine-HCG</label>
                <input class="form-check-input" type="checkbox" value="Urine-HCG" id="Urine-HCG">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Occult blood">Occult blood</label>
                <input class="form-check-input" type="checkbox" value="Occult blood" id="Occult blood">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="H.pylori AG">H.pylori AG</label>
                <input class="form-check-input" type="checkbox" value="H.pylori AG" id="H.pylori AG">
            </li>
        </ul>

        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg_LabRequest-info text-light border-0">
                <h4>SEROLOGY</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="VDRL/RPR">VDRL/RPR</label>
                <input class="form-check-input" type="checkbox" value="VDRL/RPR" id="VDRL/RPR">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="HBsAG">HBsAG</label>
                <input class="form-check-input" type="checkbox" value="" id="HBsAG">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="HCVAB">HCVAB</label>
                <input class="form-check-input" type="checkbox" value="HBsAG" id="HCVAB">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="RVI">RVI</label>
                <input class="form-check-input" type="checkbox" value="RVI" id="RVI">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="H.PYLORI(ab)">H.PYLORI(ab)</label>
                <input class="form-check-input" type="checkbox" value="H.PYLORI(ab)" id="H.PYLORI(ab)">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="ASO titer">ASO titer</label>
                <input class="form-check-input" type="checkbox" value="ASO titer" id="ASO titer">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Serum-HCG">Serum-HCG</label>
                <input class="form-check-input" type="checkbox" value="Serum-HCG" id="Serum-HCG">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg_LabRequest-info text-light border-0">
                <h4>MICROSCOPY</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="EPHT. CELL">EPHT. CELL</label>
                <input class="form-check-input" type="checkbox" value="EPHT. CELL" id="EPHT. CELL">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="WBC">WBC</label>
                <input class="form-check-input" type="checkbox" value="WBC" id="WBC">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="RBC">RBC</label>
                <input class="form-check-input" type="checkbox" value="RBC" id="RBC">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="CAST">CAST</label>
                <input class="form-check-input" type="checkbox" value="CAST" id="CAST">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Urine-HCG">Urine-HCG</label>
                <input class="form-check-input" type="checkbox" value="Urine-HCG" id="Urine-HCG">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Occult blood">Occult blood</label>
                <input class="form-check-input" type="checkbox" value="Occult blood" id="Occult blood">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="H.pylori AG">H.pylori AG</label>
                <input class="form-check-input" type="checkbox" value="H.pylori AG" id="H.pylori AG">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg_LabRequest-info text-light border-0">
                <h4>BACTERIOLOGY</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="SPECIMEN">SPECIMEN</label>
                <input class="form-check-input" type="checkbox" value="SPECIMEN" id="SPECIMEN">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="G.SATIN">G.SATIN</label>
                <input class="form-check-input" type="checkbox" value="G.SATIN" id="G.SATIN">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="AFB">AFB</label>
                <input class="form-check-input" type="checkbox" value="AFB" id="AFB">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="WET FILM">WET FILM</label>
                <input class="form-check-input" type="checkbox" value="WET FILM" id="WET FILM">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Cell-Count">Cell-Count</label>
                <input class="form-check-input" type="checkbox" value="Cell-Count" id="Cell-Count">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Diff">Diff</label>
                <input class="form-check-input" type="checkbox" value="Diff" id="Diff">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Culture">Culture</label>
                <input class="form-check-input" type="checkbox" value="Culture" id="Culture">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg_LabRequest-info text-light border-0">
                <h4>FERBRILE AGGLUTITATION TEST</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="WAIDAL">WAIDAL</label>
                <input class="form-check-input" type="checkbox" value="WAIDAL" id="WAIDAL">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="O">O</label>
                <input class="form-check-input" type="checkbox" value="O" id="O">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="H">H</label>
                <input class="form-check-input" type="checkbox" value="H" id="H">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="WEIL FELIX">WEIL FELIX</label>
                <input class="form-check-input" type="checkbox" value="WEIL FELIX" id="WEIL FELIX">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="OX19">OX19</label>
                <input class="form-check-input" type="checkbox" value="OX19" id="OX19">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="BR. AB">BR. AB</label>
                <input class="form-check-input" type="checkbox" value="BR. AB" id="BR. AB">
            </li>
        </ul>
        <ul class="list-group col-3 mb-3 shadow_roundedCorner">
            <li class="list-group-item text-center bg_LabRequest-info text-light border-0">
                <h4>STOOL TEST</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Consistency">Consistency</label>
                <input class="form-check-input" type="checkbox" value="Consistency" id="Consistency">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Direct">Direct</label>
                <input class="form-check-input" type="checkbox" value="Direct" id="Direct">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Concentrated">Concentrated</label>
                <input class="form-check-input" type="checkbox" value="Concentrated" id="Concentrated">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Ova /Parasite">Ova /Parasite</label>
                <input class="form-check-input" type="checkbox" value="Ova /Parasite" id="Ova /Parasite">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Puss Cell">Puss Cell</label>
                <input class="form-check-input" type="checkbox" value="Puss Cell" id="Puss Cell">
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <label class="form-check-label" for="Bacteria">Bacteria</label>
                <input class="form-check-input" type="checkbox" value="Bacteria" id="Bacteria">
            </li>
        </ul>
        <div class="d-flex justify-content-end">

            <ul class="list-group col-3 mb-3 shadow_roundedCorner">
                <li class="list-group-item text-center bg_LabRequest-info text-light border-0">
                    <h4>HEMATOLOGY</h4>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <label class="form-check-label" for="BF">BF</label>
                    <input class="form-check-input" type="checkbox" value="BF" id="BF">
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <label class="form-check-label" for="CBC">CBC</label>
                    <input class="form-check-input" type="checkbox" value="CBC" id="CBC">
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <label class="form-check-label" for="ERS">ERS</label>
                    <input class="form-check-input" type="checkbox" value="ERS" id="ERS">
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <label class="form-check-label" for="BG&HR">BG & HR</label>
                    <input class="form-check-input" type="checkbox" value="BG&HR" id="BG&HR">
                </li>
            </ul>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary btn-sm">Save Appointment</button>
        </div>
    </form>

</div>
</div>