<aside class="mainNav h-100">
    <img src="/Images/APHLogo.png" alt="" class="mainNav_logo">
    <a href="<% if(err.type){ %><%= err.type %>/homepage<% }else{ %>/<% } %>" class="mainNav_link"><img
            src="/Images/NavIconsInactive/home_white_30px.png" alt="" class="mainNav_linkImage">Home
    </a>
    <a href="<% if(err.type){ %><%= err.type %>/patientpage<% }else{ %>/<% } %>" class="mainNav_link"><img
            src="/Images/NavIconsInactive/patient_white_40px.png" alt="" class="mainNav_linkImage">Patient
    </a>
</aside>