<div class="container-fluid infoContainer h-100 laboratoristLabreport ">
    <div class="accordion" id="accordionLabReport">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-recentLabReport">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseRecentLabReport" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseRecentLabReport">
                    Recent Lab Report
                </button>
            </h2>
            <div id="panelsStayOpen-collapseRecentLabReport" class="accordion-collapse collapse show"
                data-bs-parent="#accordionLabReport" aria-labelledby="panelsStayOpen-recentLabReport">
                <div class="previousDiagnostics shadow-lg  m-2 overflow-auto">
                    <table class="previousDiagnosticsTable table table-borderless table-hover">
                        <caption>Recent Lab Reports</caption>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Request Type</th>
                                <th>Normal Value</th>
                                <th>Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>02-09-2021</td>
                                <td>BH & RH</td>
                                <td><input class="form-control inputLabreport ps-0" type="text" placeholder="Value">
                                </td>
                                <td><input class="form-control inputLabreport ps-0" type="text" placeholder="Value">
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm">Save</button>
                                </td>
                            </tr>
                            <tr>
                                <td>02-09-2021</td>
                                <td>BH & RH</td>
                                <td><input class="form-control inputLabreport ps-0" type="text" placeholder="Value">
                                </td>
                                <td><input class="form-control inputLabreport ps-0" type="text" placeholder="Value">
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm">Save</button>
                                </td>
                            </tr>
                            <tr>
                                <td>02-09-2021</td>
                                <td>BH & RH</td>
                                <td><input class="form-control inputLabreport ps-0" type="text" placeholder="Value">
                                </td>
                                <td><input class="form-control inputLabreport ps-0" type="text" placeholder="Value">
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm">Save</button>
                                </td>
                            </tr>
                            <tr>
                                <td>02-09-2021</td>
                                <td>BH & RH</td>
                                <td>23</td>
                                <td>22</td>
                            </tr>
                            <tr>
                                <td>02-09-2021</td>
                                <td>BH & RH</td>
                                <td>23</td>
                                <td>22</td>
                            </tr>
                            <tr>
                                <td>02-09-2021</td>
                                <td>BH & RH</td>
                                <td>23</td>
                                <td>22</td>
                            </tr>
                            <tr>
                                <td>02-09-2021</td>
                                <td>BH & RH</td>
                                <td>23</td>
                                <td>22</td>
                            </tr>
                            <tr>
                                <td>02-09-2021</td>
                                <td>BH & RH</td>
                                <td>23</td>
                                <td>22</td>
                            </tr>
                            <tr>
                                <td>02-09-2021</td>
                                <td>BH & RH</td>
                                <td>23</td>
                                <td>22</td>
                            </tr>
                            <tr>
                                <td>02-09-2021</td>
                                <td>BH & RH</td>
                                <td>23</td>
                                <td>22</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-labReport">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-LabReport" aria-expanded="false"
                    aria-controls="panelsStayOpen-LabReport">
                    Previous Diagnostics
                </button>
            </h2>
            <div id="panelsStayOpen-LabReport" class="accordion-collapse collapse" data-bs-parent="#accordionLabReport"
                aria-labelledby="panelsStayOpen-labReport">
                <div class="previousDiagnostics shadow-lg  m-2 overflow-auto">
                    <table class="previousDiagnosticsTable table table-borderless table-hover">
                        <caption>Previous Lab Reports</caption>
                        <thead>
                            <tr>
                                <td>Date</td>
                                <td>Request Type</td>
                                <td>Normal Value</td>
                                <td>Result</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>02-09-2021</td>
                                <td>BH & RH</td>
                                <td>23</td>
                                <td>22</td>
                            </tr>
                            <tr>
                                <td>02-09-2021</td>
                                <td>BH & RH</td>
                                <td>23</td>
                                <td>22</td>
                            </tr>
                            <tr>
                                <td>02-09-2021</td>
                                <td>BH & RH</td>
                                <td>23</td>
                                <td>22</td>
                            </tr>
                            <tr>
                                <td>02-09-2021</td>
                                <td>BH & RH</td>
                                <td>23</td>
                                <td>22</td>
                            </tr>
                            <tr>
                                <td>02-09-2021</td>
                                <td>BH & RH</td>
                                <td>23</td>
                                <td>22</td>
                            </tr>
                            <tr>
                                <td>02-09-2021</td>
                                <td>BH & RH</td>
                                <td>23</td>
                                <td>22</td>
                            </tr>
                            <tr>
                                <td>02-09-2021</td>
                                <td>BH & RH</td>
                                <td>23</td>
                                <td>22</td>
                            </tr>
                            <tr>
                                <td>02-09-2021</td>
                                <td>BH & RH</td>
                                <td>23</td>
                                <td>22</td>
                            </tr>
                            <tr>
                                <td>02-09-2021</td>
                                <td>BH & RH</td>
                                <td>23</td>
                                <td>22</td>
                            </tr>
                            <tr>
                                <td>02-09-2021</td>
                                <td>BH & RH</td>
                                <td>23</td>
                                <td>22</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>